.button {
  display: inline-block;
  padding: 8px;
  text-align: center;

  font-family: $font-heading;
  font-size: 12px;
  line-height: 1;
  color: $color-black;

  text-transform: uppercase;
  text-decoration: none;

  background-color: $color-white;
  border: 1px solid $color-white;
  border-radius: 4px;

  height: auto;
  &:hover {
    background-color: transparent;
    color: $color-white;
  }

  &:active {
    color: rgba($color-white, 0.3);
  }

  @media (min-width: $tablet-width) {
    height: auto;
    font-size: 16px;
  }

  @media (min-width: 2500px) {
    height: 80px;
  }
}

.button--disabled {
  background-color: $basic-grey;
  color: $dark-grey;
}
