.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    width: 92.2%;
  }

  @media (min-width: $desktop-width) {
    max-width: 2000px;
  }
}

.container--form {

  @media (min-width: $tablet-width) {
    width: 82%;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
  }

}
