.modal {
  display: none;

  box-sizing: border-box;

  width: 60%;
  margin: 0 auto;
  padding: 0;

  position: fixed;
  top: 5vh;
  left: 20%;
  z-index: 10;

  @media (max-width: $only-mobile-width) {
    width: 100%;
    padding: 0;
    left: 0;
    box-sizing: border-box;
  }
}

.modal__send {
  border: 1px solid #000000;
  min-width: 100px;
  width: auto;
}

.modal__closed {
  border: 1px solid #000000;
  min-width: 100px;
  width: auto;

  &:hover {
    background: #222;
    opacity: 0.8;
  }
}
