.modal {
  display: none;

  box-sizing: border-box;

  width: 60%;
  margin: 0 auto;

  position: fixed;
  top: 10vh;
  left: 20%;
  z-index: 10;

  @media (max-width: $only-mobile-width) {
    width: 100%;
    padding: 0;
    left: 0;
    box-sizing: border-box;
  }
}

.modal__send {
  height: 80px;
  border: 1px solid #000000;
  width: 100px;
}

.modal__closed {
  height: 80px;
  border: 1px solid #000000;
  width: 100px;
}
