.main-nav {
  position: static;
}

.main-nav__bar {
  display: flex;
  padding: 0 16px;

  @media (max-width: $only-mobile-width) {
    position: relative;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 34px;
    gap: 16px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.main-nav__menu {
  margin: 0;
}

.main-nav__toggle {
  position: relative;
  cursor: pointer;

  border: none;
  background-color: transparent;

  padding: 0;
  margin-top: 18px;
  width: 24px;
  height: 18px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: $color-white;
  left: 0;
  top: 0;
  box-shadow: 0 8px 0 0 $color-white, 0 16px 0 0 $color-white;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: $color-white;
    left: 0;
    top: 8px;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav--closed {
  @media (max-width: $only-mobile-width) {
    .site-menu {
      display: none;
    }
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .site-menu {

  @media (max-width: $only-mobile-width) {
    position: static;
    display: block;
  }

}
