.promo {
  margin-top: 108px ;
  color: $color-white;
  text-align: center;
  height: auto;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    color: $color-white;
    background: transparent;
    text-align: left;
  }
}

.promo__container {

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
  }
}

.promo__content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 48px;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: end;
    gap: 50px;
    align-items: start;
    max-width: 540px;
  }
}

.promo__heading {
  display: block;
  margin: 0;
  font-family: $font-heading;
  font-size: 36px;
  line-height: 1;
  font-weight: $regular;

  @media (min-width: $tablet-width) {
    font-size: 52px;
    font-weight: 400;
    line-height: 1.2;
  }

  @media (min-width: $desktop-width) {
    font-size: 80px;
  }
}

.promo__text {
  margin: 0;

  font-family: $font-heading;
  font-size: 14px;
  line-height: 1.2;
  font-weight: $regular;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 36px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
  }
}

.promo__image {
  margin: 0 auto;
  width: 100%;
  height: auto;

  @media (min-width: $desktop-width) {
    margin-top: -128px;
    max-width: 100%;
    position: relative;
    z-index: 2;
  }
}

.promo__button {
  width: 100%;
  max-width: 400px;

  @media (min-width: $desktop-width) {
    width: 200px;
  }
}

.promo__list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 24px;
  line-height: 1.2;
}

.promo__item {
  & + & {
    margin-top: 24px;
  }
}
