.site-menu {
  font-family: $font-heading;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  list-style: none;

  padding: 0;

  @media (max-width: $only-mobile-width) {
    position: absolute;
    z-index: 2;
    background-color: $bg-color;
    width: 100%;
    left: 0;
    top: 58px;
    border-top: 1px solid $menu-border;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 36px;
    justify-content: flex-end;
  }
}

.site-menu__item {

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: $only-mobile-width) {
    border-bottom: 1px solid $menu-border;
  }
}

.site-menu__link {
  display: block;
  padding: 22px;

  color: $color-white;
  cursor: pointer;

  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding: 18px 0 12px;
  }


}

.site-menu__item--current {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $color-white;
  }
}

.site-menu--desktop-main .site-menu__item--current {
  @media (min-width: $desktop-width) {
    border-bottom: 2px solid $color-white;
  }
}

