.site-menu {
  font-family: $font-heading;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  list-style: none;

  padding: 0;
  margin: 0;

  &:not(.site-menu--footer) {
    @media (max-width: $only-mobile-width) {
      position: absolute;
      z-index: 2;
      background-color: $bg-color-2;
      width: 100%;
      left: 0;
      top: 58px;
      border-top: 1px solid $menu-border;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 36px;
    justify-content: center;
  }
}

.site-menu--footer {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.site-menu:not(.site-menu--footer) .site-menu__item {

  @media (max-width: $only-mobile-width) {
    border-bottom: 1px solid $menu-border;
  }
}

.site-menu__item {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

}

.site-menu__link {
  display: block;
  padding: 22px;

  color: $color-white;
  cursor: pointer;

  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding: 18px 0 12px;
  }


}

.site-menu__item--current {
  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $color-white;
  }
}



