//width
$tablet-width: 768px;
$desktop-width: 1280px;
$only-mobile-width: 767px;

//fonts
$font-body: Arial, sans-serif;
$font-heading: "Oswald", Arial, sans-serif;
$regular: 400;
$medium: 500;

$bg-color: rgba(40, 40, 41, 1);

// colors
$basic-green: #68B738;
$basic-green-2: #5EAA2F;

$color-black: #000000;
$color-heading: #222222;
$color-gray: #55565A;


$color-white: #ffffff;

$dark-grey: #444444;
$basic-grey: #F2F2F2;
$color-grey: #D9D9D9;
$color-grey-2: #CDCDCD;
$menu-border: #E6E6E6;
